<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <div class="pull-right"><%= link_to 'Add post', new_post_path %></div>
    <div>
      <%= render partial: @posts %>
    </div>
  </div>
</div>
